<%- include("partials/header.ejs") %>

<div>
  <section class="home--section">
    <h1 class="home--h1">My TodoList

    </h1>
    <div class="home--button--div">
      <a href="/today" class="button">Today's List</a>
      <a href="/work" class="button">Work's List</a>
    </div>


  </section>
</div>

<%- include("partials/footer.ejs") %>